flow.json
[
    {
        "id": "2eb373d0.c952fc",
        "type": "tab",
        "label": "AEMET Predicción",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ceb7af605b6e347f",
        "type": "tab",
        "label": "Open Weather Map Predicción",
        "disabled": false,
        "info": ""
    },
    {
        "id": "510feb187ec9b0ac",
        "type": "tab",
        "label": "Plano",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bebca97d47a86131",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c3b9cb110393e1f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "wi-wu-chancerain",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ebb30b17ef3e19b1",
        "type": "ui_group",
        "name": "Predicción Lluvia Santander (AEMET)",
        "tab": "5c3b9cb110393e1f",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5411d95c626e78a",
        "type": "ui_group",
        "name": "Predicción Temperatura Santander (Open Weather Map)",
        "tab": "5c3b9cb110393e1f",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e1b7c2b3665fbc4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c29b25c2f21a3b9e",
        "type": "ui_group",
        "name": "Mapa",
        "tab": "5c3b9cb110393e1f",
        "order": 3,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c96b991262ff164",
        "type": "mqtt-broker",
        "name": "",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8deb4c14.ee2b1",
        "type": "inject",
        "z": "2eb373d0.c952fc",
        "name": "api key",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "fc6e73f3.061c"
            ]
        ]
    },
    {
        "id": "a74a0102.7fb14",
        "type": "http request",
        "z": "2eb373d0.c952fc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/diaria/39075/?api_key={{apikey}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "3974527e.01031e"
            ]
        ]
    },
    {
        "id": "fc6e73f3.061c",
        "type": "change",
        "z": "2eb373d0.c952fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "apikey",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "a74a0102.7fb14"
            ]
        ]
    },
    {
        "id": "aefb8bf7.5f6b68",
        "type": "debug",
        "z": "2eb373d0.c952fc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "3974527e.01031e",
        "type": "json",
        "z": "2eb373d0.c952fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "aefb8bf7.5f6b68",
                "9fd8484.0bef3b8"
            ]
        ]
    },
    {
        "id": "9fd8484.0bef3b8",
        "type": "change",
        "z": "2eb373d0.c952fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.datos",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "767c9b41.5514e4"
            ]
        ]
    },
    {
        "id": "767c9b41.5514e4",
        "type": "http request",
        "z": "2eb373d0.c952fc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "4c2219e1287af879"
            ]
        ]
    },
    {
        "id": "e1c54a83.819008",
        "type": "debug",
        "z": "2eb373d0.c952fc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "4c2219e1287af879",
        "type": "json",
        "z": "2eb373d0.c952fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "e1c54a83.819008",
                "b2b1ac09eeca9767",
                "77037d471458d034",
                "6b220e9d9e05872f",
                "3f88444b61c16a01"
            ]
        ]
    },
    {
        "id": "b2b1ac09eeca9767",
        "type": "debug",
        "z": "2eb373d0.c952fc",
        "name": "Fecha",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload[0].prediccion.dia[3].fecha",
        "statusType": "msg",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "77037d471458d034",
        "type": "debug",
        "z": "2eb373d0.c952fc",
        "name": "Máxima",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload[0].prediccion.dia[3].temperatura.maxima",
        "statusType": "msg",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "c67736102f33b23e",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[0].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[0].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "03eaddb2f7a14158",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[1].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[1].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "99132fb78c0baed8",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[2].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[2].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "1688cbda86e2bd79",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[3].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[3].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "0ae09c42b6c64e89",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[4].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[4].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "28840f8a9e49a0b3",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[5].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[5].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "715cb74c58aeae3f",
        "type": "ui_gauge",
        "z": "2eb373d0.c952fc",
        "name": "",
        "group": "ebb30b17ef3e19b1",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].prediccion.dia[6].fecha}}",
        "label": "%",
        "format": "{{msg.payload[0].prediccion.dia[6].probPrecipitacion[0].value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "6b220e9d9e05872f",
        "type": "change",
        "z": "2eb373d0.c952fc",
        "name": "Actualiza fecha",
        "rules": [
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[0].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[0].fecha,\"T\")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[1].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[1].fecha,\"T\")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[2].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[2].fecha,\"T\")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[3].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[3].fecha,\"T\")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[4].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[4].fecha,\"T\")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[5].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[5].fecha,\"T\")\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "msg.payload[0].prediccion.dia[6].fecha",
                "pt": "msg",
                "to": "$substringBefore(msg.payload[0].prediccion.dia[6].fecha,\"T\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "c67736102f33b23e",
                "03eaddb2f7a14158",
                "99132fb78c0baed8",
                "1688cbda86e2bd79",
                "0ae09c42b6c64e89",
                "28840f8a9e49a0b3",
                "715cb74c58aeae3f"
            ]
        ]
    },
    {
        "id": "4f69f0089f144b46",
        "type": "openweathermap",
        "z": "ceb7af605b6e347f",
        "name": "",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "santander",
        "country": "ES",
        "language": "en",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "97adc2f5dea9ac7c",
                "558b92716974bed4",
                "9c154f18111cfc14",
                "cf413bf0fa358184",
                "ebebf389ab6d7e55",
                "51056e36b18fb4d6",
                "6a7adef7671ab5bf",
                "5f7ae608d855f8ce"
            ]
        ]
    },
    {
        "id": "4a4ee3087a02a1bb",
        "type": "inject",
        "z": "ceb7af605b6e347f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "4f69f0089f144b46",
                "5f4add61a337b1ee",
                "39e57e1aae200a1a"
            ]
        ]
    },
    {
        "id": "97adc2f5dea9ac7c",
        "type": "ui_gauge",
        "z": "ceb7af605b6e347f",
        "name": "",
        "group": "d5411d95c626e78a",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[0].dt_txt}}",
        "label": "ºC",
        "format": "{{msg.payload[0].main.temp}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "558b92716974bed4",
        "type": "debug",
        "z": "ceb7af605b6e347f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "9c154f18111cfc14",
        "type": "ui_gauge",
        "z": "ceb7af605b6e347f",
        "name": "",
        "group": "d5411d95c626e78a",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[8].dt_txt}}",
        "label": "ºC",
        "format": "{{msg.payload[8].main.temp}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf413bf0fa358184",
        "type": "ui_gauge",
        "z": "ceb7af605b6e347f",
        "name": "",
        "group": "d5411d95c626e78a",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[16].dt_txt}}",
        "label": "ºC",
        "format": "{{msg.payload[16].main.temp}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "ebebf389ab6d7e55",
        "type": "ui_gauge",
        "z": "ceb7af605b6e347f",
        "name": "",
        "group": "d5411d95c626e78a",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[24].dt_txt}}",
        "label": "ºC",
        "format": "{{msg.payload[24].main.temp}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "51056e36b18fb4d6",
        "type": "ui_gauge",
        "z": "ceb7af605b6e347f",
        "name": "",
        "group": "d5411d95c626e78a",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "{{msg.payload[32].dt_txt}}",
        "label": "ºC",
        "format": "{{msg.payload[32].main.temp}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "className": "",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "5cc051e66e5213ee",
        "type": "mqtt out",
        "z": "2eb373d0.c952fc",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c96b991262ff164",
        "x": 1270,
        "y": 180,
        "wires": []
    },
    {
        "id": "3f88444b61c16a01",
        "type": "change",
        "z": "2eb373d0.c952fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].prediccion.dia",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "10e2aeacb0237801"
            ]
        ]
    },
    {
        "id": "10e2aeacb0237801",
        "type": "split",
        "z": "2eb373d0.c952fc",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 180,
        "wires": [
            [
                "37bd168d136f4633"
            ]
        ]
    },
    {
        "id": "37bd168d136f4633",
        "type": "change",
        "z": "2eb373d0.c952fc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"casa/santander/prediccion/lluvia/\"&$substringBefore(payload.fecha,'T')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.probPrecipitacion[0].value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 180,
        "wires": [
            [
                "5cc051e66e5213ee"
            ]
        ]
    },
    {
        "id": "6e394d0152ed0da8",
        "type": "mqtt out",
        "z": "ceb7af605b6e347f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c96b991262ff164",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "6a7adef7671ab5bf",
        "type": "split",
        "z": "ceb7af605b6e347f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "0c8aafbe3c3dcb7a",
                "c5a13fa0702e09a7"
            ]
        ]
    },
    {
        "id": "c5a13fa0702e09a7",
        "type": "debug",
        "z": "ceb7af605b6e347f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "0c8aafbe3c3dcb7a",
        "type": "change",
        "z": "ceb7af605b6e347f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"casa/santander/prediccion/temperatura/\"&$substringBefore(payload.dt_txt,' ')&\"/\"&$substring(payload.dt_txt, 11, 5)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "6e394d0152ed0da8"
            ]
        ]
    },
    {
        "id": "8c2631df40f39e02",
        "type": "inject",
        "z": "510feb187ec9b0ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "adad1b1df021e7df",
                "3322572fc4c62c6c",
                "db973399cad1ea2f"
            ]
        ]
    },
    {
        "id": "5f7ae608d855f8ce",
        "type": "change",
        "z": "ceb7af605b6e347f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "icon_santander",
                "pt": "global",
                "to": "payload[0].weather[0].icon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "datos_santander",
                "pt": "global",
                "to": "payload[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "adad1b1df021e7df",
        "type": "change",
        "z": "510feb187ec9b0ac",
        "name": "Santander",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datos_santander",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Santander",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "43.466667",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "-3.8",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.photoUrl",
                "pt": "msg",
                "to": "\"http://openweathermap.org/img/w/\"&$globalContext('icon_santander')&\".png\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-thermometer-full fa-3x",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "\"Santander \"&$string($globalContext('datos_santander.temp'))&'ºC'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "3c8a0e1d8a5f5c97",
                "1794cc87516e1e3a"
            ]
        ]
    },
    {
        "id": "3c8a0e1d8a5f5c97",
        "type": "debug",
        "z": "510feb187ec9b0ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "5f4add61a337b1ee",
        "type": "openweathermap",
        "z": "ceb7af605b6e347f",
        "name": "",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "logrono",
        "country": "ES",
        "language": "en",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "4954e667f6372207"
            ]
        ]
    },
    {
        "id": "39e57e1aae200a1a",
        "type": "openweathermap",
        "z": "ceb7af605b6e347f",
        "name": "",
        "wtype": "forecast",
        "lon": "",
        "lat": "",
        "city": "zaragoza",
        "country": "ES",
        "language": "en",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "e9aadbd27513c971"
            ]
        ]
    },
    {
        "id": "4954e667f6372207",
        "type": "change",
        "z": "ceb7af605b6e347f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "icon_logrono",
                "pt": "global",
                "to": "payload[0].weather[0].icon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "datos_logrono",
                "pt": "global",
                "to": "payload[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e9aadbd27513c971",
        "type": "change",
        "z": "ceb7af605b6e347f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "icon_zaragoza",
                "pt": "global",
                "to": "payload[0].weather[0].icon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "datos_zaragoza",
                "pt": "global",
                "to": "payload[0].main",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3322572fc4c62c6c",
        "type": "change",
        "z": "510feb187ec9b0ac",
        "name": "Logroño",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datos_logrono",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Logroño",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "42.47",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "-2.445556",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.photoUrl",
                "pt": "msg",
                "to": "\"http://openweathermap.org/img/w/\"&$globalContext('icon_logrono')&\".png\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-thermometer-full fa-3x",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "\"Logroño \"&$string($globalContext('datos_logrono.temp'))&'ºC'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "1794cc87516e1e3a"
            ]
        ]
    },
    {
        "id": "db973399cad1ea2f",
        "type": "change",
        "z": "510feb187ec9b0ac",
        "name": "Zaragoza",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "datos_zaragoza",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "Zaragoza",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "41.65",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "-0.883333",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.photoUrl",
                "pt": "msg",
                "to": "\"http://openweathermap.org/img/w/\"&$globalContext('icon_zaragoza')&\".png\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "fa-thermometer-full fa-3x",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.label",
                "pt": "msg",
                "to": "\"Zaragoza \"&$string($globalContext('datos_zaragoza.temp'))&'ºC'",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "1794cc87516e1e3a"
            ]
        ]
    },
    {
        "id": "1794cc87516e1e3a",
        "type": "ui_worldmap",
        "z": "510feb187ec9b0ac",
        "group": "c29b25c2f21a3b9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "42.47",
        "lon": "-2.445556",
        "zoom": "7",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 600,
        "y": 180,
        "wires": []
    }
]